@font-face {
  font-family: BFTinyHand;
  src: url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.eot'); /* IE9 Compat Modes */
  src: url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../node_modules/font-BFTinyHand/BFTinyHand-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */ font-weight: normal;
  font-style: normal; 
}


nav ul a,
nav .brand-logo {
    color: #444;
}

h {
font-family: BFTinyHand;
}

p {
    line-height: 2rem;
    font-family: roboto;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


/* Custom Stylesheet */

.iframeWrapper{
  display:inline-block;
  position:relative;
}
.iframeWrapper:after{ /* I have higher Z-index so I can catch the click! Yey */
  content:"";
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.iframeWrapper iframe{
  vertical-align:top;
}

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 420px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}